@font-face {
    font-family: 'myfont';
    src: url('../fonts/Shabnam.ttf');
}

body {
    font-family: 'myfont';
}

/* Navbar */

.hamborder {
    border: 0;
}

.clearboth {
    clear: both;
}

.navbar__logo {
    width: 40%;
}

/* Hero - Hero Animation */

.hero__image {
    transition: ease-in .7s;
    align-items: center;
    margin: 0 auto;
}

h2 {
    position: relative;
    align-items: center;
    margin: 0 auto;
    font-size: 60px;
    color: rgb(136, 136, 136);
    -webkit-text-stroke: 0.3vw #ffffff;
    text-transform: uppercase;
}

h2:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(107, 101, 107);
    -webkit-text-stroke: 0vw #2488f7;
    border-right: 3px solid rgb(20, 35, 36);
    overflow: hidden;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    60% {
        width: 100%;
    }
}



/* Cards - Carousel */

.card {
    border: 2px rgb(112, 108, 108);
    border-radius: 20px;
    margin: 30px 10px;
    align-items: center;
}

.card:hover {
    transform: translateY(35px);
}

.card img {
    width: 40%;
    align-items: center;
    transition: all 4s ease;
}

.card-body h3 {
    font-weight: 600;
    margin-left: 10px;
}

.card-text {
    font-weight: 600;
}

.card-body button {
    align-items: center;
    margin-left: 25px;
}

.card__headertext {
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 15px;
    float: right;
    font-weight: 600;
    margin-right: 40px;
}

/* Product Overview */

.product__overview {
    display: flex;
}

.product__headertext {
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 15px;
    float: right;
    font-weight: 600;
    margin-right: 40px;
}

.product__col {
    flex: 1;
    border: 3px solid #363a3f;
    margin: 3px;
    padding: 10px;
    transition: .4s;
}