@font-face {
    font-family: 'myfont';
    src: url('../fonts/Shabnam.ttf');
}

body {
    font-family: 'myfont';
    overflow-x: hidden;
}

/* ScrollBar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #363a3f;
}

/* Navbar */

.hamborder {
    border: 0;
}

.clearboth {
    clear: both;
}

.navbar__logo {
    width: 40%;
}

/* Hero - Hero Animation */

.hero__image {
    transition: ease-in .7s;
    align-items: center;
    margin: 0 auto;
}

h2 {
    position: relative;
    align-items: center;
    margin: 0 auto;
    font-size: 65px;
    color: rgb(136, 136, 136);
    -webkit-text-stroke: 0.3vw #ffffff;
    text-transform: uppercase;
}

h2:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(107, 101, 107);
    -webkit-text-stroke: 0vw #2488f7;
    border-right: 3px solid rgb(20, 35, 36);
    overflow: hidden;
    animation: animate 8s linear infinite;
}

@media screen and (min-width : 576px) {
    h2 {

    }
}

.btn-background{
    background-color: #717fe0;;
}


.btn-bor {
    border-radius: 23px;
}


.btn-hover a:hover{
    background-color: rgb(36, 35, 35);
    color: white;
    transition: 0.3s;
}


.btn-color{
    color: #fff;
}


.btn-fontsize{
    font-weight:500 ;
}

@keyframes animate {
    0% {
        width: 0;
    }

    60% {
        width: 100%;
    }
}

/* Cards - Carousel */

.card {
    border: 2px rgb(112, 108, 108);
    border-radius: 20px;
    margin: 30px 10px;
    align-items: center;
}

.card:hover {
    transform: translateY(35px);
}

.card img {
    width: 40%;
    align-items: center;
    transition: all 4s ease;
}

.card-body h3 {
    font-weight: 600;
    margin-left: 10px;
}

.card-text {
    font-weight: 600;
}

.card-body button {
    align-items: center;
    margin-left: 25px;
}

.card__headertext {
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 15px;
    float: right;
    font-weight: 600;
    margin-right: 40px;
}

