@font-face {
    font-family: 'myfont';
    src: url('../fonts/Shabnam.ttf');
}

html,
body {
    font-family: 'myfont';
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 15px;
    background-image: linear-gradient(130deg,#d3d9db,#4d4d4d);
}

.line {
    border: rgb(85, 82, 82) solid 1px;
}

/* ScrollBar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #363a3f;
}

/* Navbar */

.hamborder {
    border: 0;
}

.clearboth {
    clear: both;
}

.navbar__logo {
    width: 50%;
}

.logo-size {
    font-size: 70px;
}

.cart-link {
    border: none;
    margin-left: 18px;
}

/* Hero - Hero Animation */

.hero__image {
    transition: ease-in .7s;
    align-items: center;
    margin: 0 auto;
}

.animation_text {
    position: relative;
    align-items: center;
    margin: 0 auto;
    font-size: 65px;
    color: rgb(136, 136, 136);
    -webkit-text-stroke: 0.3vw #ffffff;
    text-transform: uppercase;
}

.animation_text:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(107, 101, 107);
    -webkit-text-stroke: 0vw #2488f7;
    border-right: 3px solid rgb(20, 35, 36);
    overflow: hidden;
    animation: animate 8s linear infinite;
}

.btn-background {
    background-color: #717fe0;
}

.btn-bor {
    border-radius: 23px;
}

.but {
    margin: 0 auto;
}

.but a:hover {
    background-color: rgb(36, 35, 35);
    color: white;
    transition: 0.3s;
}

.btn-color {
    color: #fff;
}

.btn-fontsize {
    font-weight: 500;
}

@keyframes animate {
    0% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

/* Shopping Cart Modal */

.modal-cart {
    border-radius: 40px;
}

.table {
    width: 100%;
}

/* Lines between Divs */

.lines {
    width: 100px;
    height: 50px;
    position: relative;
}

.lines::after , .lines::before {
    content: "";
    position: absolute;
}


/* Cards - Carousel */

.card {
    border: 2px rgb(112, 108, 108);
    border-radius: 20px;
    margin: 30px 10px;
    align-items: center;
}

.card:hover {
    transform: translateY(35px);
}

.card img {
    width: 40%;
    align-items: center;
    transition: all 4s ease;
}

.card-body h3 {
    font-weight: 600;
    margin-left: 10px;
}

.card-text {
    font-weight: 600;
}

.card-body button {
    align-items: center;
    margin-left: 25px;
}


.card__headertext {
    font-size: 40px;
    line-height: 1.1;
    padding: 30px 30px;
    text-align: center;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 2px;
}

/* Product Overview */

.single__product {
    border: 1px solid #ccc;
    box-shadow: 0 0 7px #ccc;
    margin: 20px 20px;
    border-radius: 10px;
}

.single__product:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2px #222;
    transition: 1s;
}

.product__text__h1::before {
    border: solid #363a3f;
}

.product__text__h1 {
    font-size: 40px;
    line-height: 1.1;
    padding: 30px 30px;
    text-align: center;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 2px;
}

.single__product h3 {
    margin-top: 20px;
    font-weight: 700;
    color: #fff;
}

.all-product-btn a {
    background-color: #078f34;
    color: white;
}

.all-product-btn a:hover {
    background-color: #06b13f;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.col-lg-3 {
    width: 500px;
}

.col-md-4 {
    width: 440px;
}

/* footer */

.footer-background {
    background-color: #363a3f;
}

.footer-color {
    color: #ffffff;
}

.list-footer li {
    list-style: none;
}

a {
    text-decoration: none;
}

.footer-color-p {
    color: #cccccc;
}

.copy-right {
    margin-top: 90px;
}

.padding-top {
    padding-bottom: 20px;
}

.hover a:hover {
    color: white;
    transition: all 0.3s;
}

.social li {
    list-style: none;
}

.social-insta a:hover {
    color: #e84393;
    transition: all 0.5s;
}

.social-tele a:hover {
    color: #0984e3;
    transition: all 0.5s;
}

.social-margin {
    margin-top: 21px;
}

/* Scroll to top Button */

#gotopbtn{
    position: fixed;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    z-index: 10;
  }

#gotopbtn i {
    margin: 0 auto;
}

#gotopbtn i :hover {
    color: #222;
}
  
