@font-face {
    font-family: 'myfont';
    src: url('../fonts/Shabnam.ttf');
}

body {
    font-family: 'myfont';
    font-weight: 550;
    background-color: rgb(230, 230, 230);
}

.text-right {
    align-items: center;
}

.height {
    margin-top: 80px;
    padding-top: 70px;
    padding-left: 30px;
    margin-bottom: 80px;
    height: 55rem;
    width: 50%;
}

.form-group {
    width: 100%;
    float: right;
}

.width {

    width: 90%;
    margin: auto;
}

.labels {
    margin-bottom: 10px;
}

.roundeds {
    border-radius: 20px;
    border: none;
}

a {
    text-decoration: none;
}

.container a {
    color: rgb(31, 31, 31);
    border-radius: 10px;
    padding: 11px 15px 11px 15px;
    background-color: #1bd67f;
    font-size: 17px;
}

.container a:hover {
    background-color: rgb(26, 26, 26);
    color: white;
    transition: 0.3s;
}

.margin {
    margin-top: 40px;
}

.formwith {
    width: 60%;

}

.formpad {
    padding-top: 10px;
    padding-bottom: 10px;
}

.formpadad {
    padding: 18px 0 18px 0;
}

form .height {
    align-items: flex-start;
} 