@font-face {
    font-family: 'myfont';
    src: url('../fonts/Shabnam.ttf');
}

body {
    font-family: 'myfont';
    font-weight: 550;
    background-color: rgb(192, 192, 192);
   
}
.textalign{
    text-align: center;
}
.login {
    margin-top: 100px;
}
.form-wrap{
    max-width: 100%;
    height: 25rem;
    width: 30rem;
    border: rgba(37, 35, 35 , 0.5);
    border-radius: 20px;
}
.form-head{
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
}
.form-p{
    margin-top: 60px;
    text-align: center;
     color: rgba(58, 58, 58, 0.8);
}
.form-form{
  margin-top: 70px;
}
.form-input{
    border-radius:8px;
    margin-bottom: 15px;
}
.form-input:focus{
    outline-color: rgb(179, 26, 26);
}
.label{
    margin-bottom: 10px;
    float: right;
    font-size: 18px;
}
a{
    text-decoration: none;
}
.form-bt{
    text-align: center;
    align-items: center;
    width: 100%;
    color: rgb(19, 19, 19);
    border-radius: 10px;
    background-color:#ffffff;
    border: none;
    font-weight: 500;
    font-size: 18px;
}

